<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link  type="text/css" rel="stylesheet" href="{{ asset("/base.css")}}">

    <title>{% block title %}INMOBILIARIA JAVI{% endblock %}</title>

</head>
<body>
<div class="divTitulo">
<h1 class="textTitulo">Javi Inmobiliaria</h1>
</div> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img height="35px" src="{# LOGO #}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">HOME <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/viviendas">VIVIENDAS</a>
                <a class="nav-link" href="/localidades">LOCALIDADES</a>
                {% if is_granted('ROLE_USER')%}
                    <a class="nav-link" href="/login">LOGOUT</a>
                {% else %}
                    <a class="nav-link" href="/login">LOGIN</a>
                {% endif %}
                <a class="nav-link" href="/contacto">CONTACTO</a>
                	{% if is_granted('ROLE_ADMIN')%}
                <a class="nav-link" href="/admin">ADMIN</a>
                	{% endif %}
            </div>
        </div>
    </nav>
<div class="container">
    {% if is_granted('ROLE_USER')%}
        <h4>Usuario logado {{app.user.username}}</h4>
    {% endif %}
    {% block contenido %}{% endblock %}
</div>

    <footer >
       <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
           <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center"><h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b>  Stride</b></h5></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Platform</li><li>Help Center</li><li>Security</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Customers</li><li>Use Cases</li><li>Customers Services</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Company</li><li>About</li><li>Careers- <span class="Careers">We're-hiring</span></li></ul></div>
                </div>  
           </div>
       </div>
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Stride Softwere</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                    <div class="col  my-auto text-md-left  text-right "> <small> hello@getstride.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid "  width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid "  width="25"></span></small>  </div> 
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
