{% extends "base.html.twig" %}

{% block contenido %}
	<h3>{{homeMessage}}</h3>
	<img src="https://www.cotesa-mallorca.com/wp-content/uploads/2021/06/villa-estelrica-arta-mallorca-inmobiliaria-cotesa.jpg" class="card-img-top">
{% endblock %}
